/* GENERAL */
*{
  margin: 0;
  padding: 0;
}
section{
  margin: 20px;
}
body{
  font-family: Arial,sans-sérif;
  font-size: 18px;
}
.wrapper{
  width: 1600px;
  margin: 0 auto;
  padding: 0 10px;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}

/* HEADER */

header{
  height: 120px;
  background-color:#ced5e7;
}
h1
{
  color:  #1f50c0;
  font-size: 4em;
  float: left;
  margin-top: 25px;
}
header nav{
  float: right;
  margin-top: 50px;
}
header nav ul li{
  display: inline-block;

}
header nav ul li a{
  color: #1f50c0;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 20px;
}
p
{
  font-size: 1.2em
}
/* SECTION */
table{
  border-collapse: collapse;
  margin: 30px;

}
tr td{
  border: 1px solid black;
  padding: 5px;
}
#table{
  display: flex;
  align-items: center;
}
#élément1{
  flex: 50%;
}
#élément2{
  flex: 50%;
}
